<!--
SPDX-FileCopyrightText: 2021 Andrew Hayzen <ahayzen@gmail.com>

SPDX-License-Identifier: CC0-1.0
-->

<article class="article-home">
    <section>
        <h1>Hello World!</h1>

        <p>A demo application using various web technologies.</p>
    </section>

    <section class="iconview">
        <figure class="iconview__item iconitem">
            <img class="iconitem__image" src="./static/electron.svg" />
            <figcaption class="iconitem__caption">Electron</figcaption>
        </figure>
        <figure class="iconview__item iconitem">
            <img class="iconitem__image" src="./static/lit.svg" />
            <figcaption class="iconitem__caption">Lit</figcaption>
        </figure>
        <figure class="iconview__item iconitem">
            <img class="iconitem__image" src="./static/rust.svg" />
            <figcaption class="iconitem__caption">Rust</figcaption>
        </figure>
        <figure class="iconview__item iconitem">
            <img class="iconitem__image" src="./static/sass.svg" />
            <figcaption class="iconitem__caption">SASS</figcaption>
        </figure>
        <figure class="iconview__item iconitem">
            <img class="iconitem__image" src="./static/typescript.svg" />
            <figcaption class="iconitem__caption">TypeScript</figcaption>
        </figure>
        <figure class="iconview__item iconitem">
            <img class="iconitem__image" src="./static/wasm.svg" />
            <figcaption class="iconitem__caption">WebAssembly</figcaption>
        </figure>
    </section>

    <section>
        <p id="versionMessage">
            We are using node
            <span id="nodeVersion"></span>, Chrome <span id="chromeVersion"></span>, and Electron
            <span id="electronVersion"></span>.
        </p>
    </section>

    <section>
        <h2>Theme</h2>
    </section>

    <custom-menu class="theme-selector">
        <custom-menuitem action="system">System</custom-menuitem>
        <custom-menuitem action="dark">Dark</custom-menuitem>
        <custom-menuitem action="light">Light</custom-menuitem>
    </custom-menu>
</article>
