<!--
SPDX-FileCopyrightText: 2021 Andrew Hayzen <ahayzen@gmail.com>

SPDX-License-Identifier: CC0-1.0
-->

<article class="article-palette">
    <section>
        <h2>Primary Area</h2>

        <h3>Buttons</h3>

        <button>Normal</button>
        <button class="--negative">Negative</button>
        <button class="--positive">Positive</button>

        <h3>Inputs</h3>

        <input type="text" />

        <h3>Menu</h3>

        <custom-menu class="full-width">
            <custom-menuitem>Menu A</custom-menuitem>
            <custom-menuitem>Menu B</custom-menuitem>
        </custom-menu>
    </section>

    <section class="secondary">
        <h2>Secondary Area</h2>

        <h3>Buttons</h3>

        <button>Normal</button>
        <button class="--negative">Negative</button>
        <button class="--positive">Positive</button>

        <h3>Inputs</h3>

        <input type="text" />

        <h3>Menu</h3>

        <custom-menu class="full-width">
            <custom-menuitem>Menu A</custom-menuitem>
            <custom-menuitem>Menu B</custom-menuitem>
        </custom-menu>
    </section>
</article>
