<!--
SPDX-FileCopyrightText: 2021 Andrew Hayzen <ahayzen@gmail.com>

SPDX-License-Identifier: CC0-1.0
-->

<article class="article-wasm">
    <section class="article-wasm__header">
        <button id="header__new">New</button>
        <button id="header__open">Open</button>
        <button id="header__save">Save</button>
        <button id="header__addRow">Add Row</button>
    </section>

    <section class="article-wasm__view">
        <custom-listview id="listView">
            <template slot="delegate">
                <custom-delegateinput columns="firstName,lastName"></custom-delegateinput>
            </template>
        </custom-listview>
    </section>
</article>
