/*
 * SPDX-FileCopyrightText: 2021 Andrew Hayzen <ahayzen@gmail.com>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

@import "variables";

article {
    & > section {
        padding-left: $padding;
        padding-right: $padding;

        .full-width {
            display: block;
            left: -$padding;
            position: relative;
            width: calc(100% + #{$padding} + #{$padding});
        }
    }
}

body {
    background-color: var(--palette-primary);
    color: var(--palette-text);
    font-family: Arial, Helvetica, sans-serif;
}

button,
input {
    box-sizing: border-box;
    padding: $padding;
}

button {
    background-color: var(--palette-accent);
    border: none;
    color: var(--palette-text-accent);
    cursor: pointer;

    &:active {
        filter: brightness($color-darken-percentage);
    }
}

custom-router {
    display: block;
}

custom-menuitem {
    --color: var(--palette-text);
    --color-hover: var(--palette-hover);
    --color-selected: var(--palette-accent);
    --color-selected-text: var(--palette-text-accent);
}

custom-delegateinput,
custom-repeater,
custom-listview {
    --gap: calc(#{$padding} / 2);
}

// TODO: instead make iconview a component like menu and menuitem?
.iconview {
    background-color: var(--palette-secondary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
        margin: calc(#{$padding} / 2) $padding;
    }
}

.iconitem {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__caption {
        margin-top: calc(#{$padding} / 2);
    }

    &__image {
        height: $iconview-image-height;
    }
}

input {
    background-color: var(--palette-primary);
    border: 1px solid var(--palette-text);
    color: var(--palette-text);

    &:focus {
        border-color: var(--palette-accent);
        outline: none;
    }
}

nav {
    background-color: var(--palette-secondary);
}

.--negative {
    background-color: var(--palette-negative);
    color: var(--palette-text-negative);
}

.--positive {
    background-color: var(--palette-positive);
    color: var(--palette-text-positive);
}

.secondary {
    background-color: var(--palette-secondary);
}
