/*
 * SPDX-FileCopyrightText: 2021 Andrew Hayzen <ahayzen@gmail.com>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

@use "sass:color";

$color-black: #111;
$color-grey: #aaa;
$color-white: #eee;

$color-blue: #3584e4;
$color-green: #0f0;
$color-orange: color.scale(orange, $blackness: 20%);
$color-red: #f00;

$color-darken-percentage: 0.8;

$padding: 1rem;

$iconview-image-height: 4rem;
$nav-min-width: 200px;
