/*
 * SPDX-FileCopyrightText: 2021 Andrew Hayzen <ahayzen@gmail.com>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

body {
    display: grid;
    grid-template-columns: min-content 1fr;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

nav {
    grid-column: 1;
    height: 100%;
    min-width: $nav-min-width;
}

main {
    grid-column: 2;
    overflow: auto;
    position: relative;
}
