/*
 * SPDX-FileCopyrightText: 2021 Andrew Hayzen <ahayzen@gmail.com>
 *
 * SPDX-License-Identifier: CC0-1.0
 */

.article-wasm {
    &__header {
        background-color: var(--palette-secondary);
        height: 47px;
    }

    &__view {
        & custom-listview {
            height: calc(100vh - 47px);
        }
    }
}
